@font-face {
    font-family: 'myTitle';
    font-display: auto;
    src: local("Trajan Pro Bold"), local("TrajanPro-Bold"), local('Trajan Pro'),
        url('https://fonts.cdnfonts.com/s/14928/TrajanPro-Bold.woff') format('woff'),
        url('https://shemitz.net/static/dominion3/Trajan%20Pro%20Bold.ttf') format('truetype'),
        url('https://dominion.games/fonts/TrajanPro-Bold.otf') format('opentype'),
        local("Trajan"),
        local("Optimus Princeps"),
        url(https://fonts.gstatic.com/s/cinzel/v8/8vIJ7ww63mVu7gt79mT7PkRXMw.woff2) format('woff2');
}
