@font-face {
    font-family: 'mySpecials';
    font-display: auto;
    src: local("Minion Std Black"), local("MinionStd-Black"), local("Minion Std"), local('Minion Pro'),
        url('https://fonts.cdnfonts.com/s/13260/MinionPro-Regular.woff') format('woff'),
        url('https://shemitz.net/static/dominion3/MinionStd-Black.otf') format('opentype'),
        local("Optimus Princeps"),
        url(https://fonts.gstatic.com/s/cinzel/v8/8vIJ7ww63mVu7gt79mT7PkRXMw.woff2) format('woff2');
}
